:root {
    --branding-color: #6c63ff;
    --secondary-color: #F9F7FE;
    --heading-font-family: Playfair Display;
    --default-font-family: poppins;
}

h1 {
    font-family: var(--heading-font-family);
    font-size: 96px;
    font-weight: bold;
    line-height: 127.97px;
    margin: 0;
}

i {

    color: blue;
}

h2 {
    font-family: var(--heading-font-family);
    font-size: 64px;
}

p {
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}

footer {
    text-align: center;

}

small {
    padding: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.myTitle h2 {
    font-family: var(--default-font-family);
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
}

.myTitle p {
    color: #272142;
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
}

.myTitle ul {
    font-size: 16px;
    line-height: 24px;
}

.navbar {
    padding: 20px 120px;
}



.btn-info {
    background: var(--branding-color);
    border-color: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-info:hover {
    background: var(--branding-color);

}

.myTitle {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.descriptionYogurt {
    padding: 120px 60px;
}

.nav-item {
    font-family: var(--default-font-family);


}

.emailLink {
    font-family: var(--default-font-family);
    font-size: 24px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    padding: 81px 0 41px 0;
}

.emailLink:hover {
    color: var(--branding-color);
}

.fa {
    border-radius: 50px;
    font-size: 13px;
    margin: 0px 18px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    color: white;
    background-color: var(--branding-color);
}

.fa-facebook {
    background-color: #eeedf7;
    color: #6c63ff;
}

.fa-twitter {
    background-color: #eeedf7;
    color: #6c63ff;
}

.fa-instagram {
    background-color: #eeedf7;
    color: #6c63ff;
}

.myBottom {
    background-color: #F9F7FE;
    border-radius: 20px;
}

.myBottom h1 {
    font-size: 48px;
    padding: 0 119px;
}

.myBottom p {
    font-size: 18px;
    padding: 0 0 0 119px;
}



.bottomLink {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.bottomLink a {
    background: var(--branding-color);
    margin: 20px;
    border-radius: 4px;
    color: white;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.btn-light:hover {
    background: var(--branding-color);
}

.allPages {
    padding: 160px 20px;

}

.allPagesContent {
    margin: 30px;
}

.allPagesContent .myBottom h1 {
    font-size: 48px;
    margin-top: 20px;
}

.allPages h1 {
    font-size: 64px;
    font-family: var(--heading-font-family);
    line-height: 80px;
}

.allPages h2 {
    font-family: var(--default-font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
}

.allPagesContent h3 {
    font-family: var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    margin: 20px 0 0;
}

.allPagesContent p {
    font-family: var(--default-font-family);
    font-size: 14px;
}

.allPages p {
    font-family: var(--default-font-family);
    font-size: 16px;
    color: #272142;
    opacity: 70%;
}



.mePic {

    border-radius: 15px;
}


@media (max-width: 960px) {
    .descriptionYogurt {
        padding: 0;
        text-align: center;
    }

    .myTitle {
        padding: 80px 20px;
    }

    .myTitle p {
        font-size: 18px;
    }

    .allPages {
        text-align: center;
        padding: 0;
    }


    .navbar {
        padding: 0;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 44px;
    }
}